<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Веб магазин</title>
</head>
<body>
    <p><a href="~/Home/Employees">Список сотрудников</a></p>
</body>
</html>
